<form class="w-50 mb-5" [formGroup]="form" (ngSubmit)="send()">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input formControlName="name" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label">Lastname</label>
    <input formControlName="lastName" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input formControlName="email" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label">Identification type</label>
    <select formControlName="identificationType" class="form-select">
      <option value="document">Document</option>
      <option value="passport">Passport</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Identifaction number</label>
    <input
      formControlName="identificationNumber"
      type="number"
      class="form-control"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Birthday</label>
    <input formControlName="birthday" type="date" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
