<form class="w-50 mb-5" [formGroup]="form" (ngSubmit)="send()">
  <div class="mb-3">
    <label class="form-label">Numero de cuenta *(Unico)</label>
    <input formControlName="number" type="number" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label">Tipo de cuenta</label>
    <select formControlName="type" class="form-select">
      <option value="current">Corriente</option>
      <option value="savings">Ahorros</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Saldo inicial</label>
    <input formControlName="balance" type="number" class="form-control" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" formControlName="active" />
    <label class="form-check-label">Activa</label>
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>
